<aside class="author">
  <div class="profile-contents">
    <div class="profile-image-wrapper">
      <img class="profile-image" src="{{ .Site.Params.avatar | absURL }}" alt="{{ .Site.Params.site_author }}" />
    </div>
    <div class="profile-content">
      <p class="name">{{ .Site.Data.l10n.author.by }} 
        <strong>{{ .Site.Params.site_author }}</strong>
      </p>
      <p class="introduction">{{ with .Site.Params.introduction }}{{ . | safeHTML }}{{ end }}</p>
      <p class="address">{{ .Site.Params.location }}</p>
      <ul class="social">
        {{ partial "social" . }}
      </ul>
    </div>
  </div>
</aside>
